@font-face {
    font-family: poppins-bold;
    src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins;
    src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppins-semi;
    src: url('/fonts/Poppins-SemiBold.ttf');
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: poppins;
}

.navbar{
    background-color: #1D4353 !important;
}

.navbar a:active{
    background: #1D4353 !important;
}

#orange-btn{
    border-radius: 0px;
    background-color: #F77E27 !important;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
}

#orange-btn-x{
    border-radius: 0px;
    background-color: #F77E27 !important;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
}

#green-btn{
    border-radius: 0px;
    background-color: #3AA800 !important;
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: poppins;
}

#orange-btn-big{
    border-radius: 0px;
    background-color: #F77E27 !important;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: poppins;
    padding: 15px 50px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.banner{
    background-image: url('/img/background.png');
    background-size: cover;
    height: auto;
    width: 100%;
    margin-top: 0px;
    padding-bottom: 150px
}

.banner-img{
    margin-right: 0px !important;
}

h1{
    font-family: poppins-bold;
}

h4, h3, h5{
    font-family: poppins;
}

.white-section{
    margin-top: -100px;
    padding: 70px 40px;
}

.para{
    font-size: 14px;
}

.grey-section{
    background-color: #F9F9F9;
}

th, td{
    padding: 1.5rem !important;
}

.scene{
    color: #1D4353;
}


.green-section{
    background-color: #3AA800;
}

.yellow{
    color: #FFF500 !important;
}

.steps h5{
    color: #fff;
    font-weight: 300 !important;
}



.price{
    font-size: 5rem;
    color: #1D4353;
    margin-top: 20px;
}



.active-nav{
    color: #5ef10e !important;
}

.active{
    background-color: #3AA800 !important;
    border-radius: 0px !important;
    color: #fff !important;
    border: none !important;
}

.active-dark{
    background-color: #1D4353 !important;
    border-radius: 0px !important;
    color: #fff !important;
    border: none !important;
}

.nav-pills a{
    color: #333;
    border: 1px solid #aaa;
    border-radius: 0px !important;
}

#faq{
    background-image: url("/img/faq-back.png");
    background-attachment: scroll;
}

.side:hover{
    cursor: pointer;
}

.active-arrow{
    color: #3AA800;
    font-size: 20px;
}


#contact h2{
    color: #fff;
    font-weight: bold;
    font-family: poppins-bold;
}

#contact p{
    opacity: 0.6;
}

input, textarea, select{
    border-radius: 0px !important;
    font-size: 16px !important;
    -webkit-appearance: none;
}



/* responsiveness */

body, html{
    overflow-x: hidden;
}

#contact{
    background-color: #1D4353;
    margin-top: 50px;
    /* padding-left: 120px;
    padding-right: 120px; */
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer{
    background-color: #1D4353;
    /* padding: 70px; */
    /* margin-top: 100px; */
}
@media only screen and (max-width:767px){
    .footer{
        padding: 20px!important;
        text-align: center!important;
    }
    .icons p{
        padding-right: 0px!important;
        text-align: center!important;
    }
    footer.footer-pad{
        padding-right: 0px!important;
        padding-left: 0px!important;
    }
    nav.al .pl-5{
        padding-left: 8px!important;
    }
    nav.al .pr-5{
        padding-right: 8px!important;
    }
    h1 {
        font-size: 2rem!important;
    }
    .ind-tab{
        padding: 0px!important;
        padding-bottom: 20px!important;
    }
    .green-section h5{
        float: none!important;
    }
}
.steps p{
    font-size: 14px;
    /* padding-right: 60px; */
    opacity: 0.8;
}


@media only screen and (max-width: 600px) {
    .banner {
      padding: 15px !important;
    }

    .banner-main{
        padding: 20px !important;
    }

    #orange-btn-big{
        margin-top: 20px !important;
    }

    .white-section{
        margin-top: 30px;
    }

    .text-secondary{
        margin-top: 30px;
        padding: 15px;
    }

    th h5{
        font-size: 16px !important;
    }

    .footer-pad{
        margin-bottom: 0px !important;
    }

    .icon{
        width: 20% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .payment_icons{
        width: 15% !important;
        margin-top: 0px !important;
        margin-left: 10px;
    }

    #pay_form{
        margin-top: 30px;
    }
  }

  .card{
      border-radius: 0px !important;
  }

  .btn-link{
      color: #1D4353;
      text-decoration: none !important;
  }

  .btn-link:hover{
      color: #3AA800;
  }

  #account_no, #value, #pay{
      font-size: 20px;
  }

  #pay:hover{
      cursor: pointer;
  }