{% extends 'trading/base_generic.html' %}

{% load static %}



{% block content %}
  <body id="faq">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light py-3">
      <div class="container">
        <a href="/index.html">
          <img src="{% static 'trading/img/Trading.png' %}" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white mr-3" href="/index.html#pricing-table">Pricing</a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white mr-3" href="/faq.html">FAQ</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white mr-4 active-nav"
                href="{% url 'contact' %}"
                >Contact</a
              >
            </li>
            <li>
              <a class="btn btn-warning my-2 my-sm-0 px-4 py-2" id="orange-btn" href="" data-toggle="modal" data-target="#exampleModal">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="contact">
      <div class="container">
        <div class="row">
            <div class="col-md-7 d-flex flex-column justify-content-center pt-3">
              <h2>Contact Us</h2>
              <p class="text-white">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum is simply dummy text of the printing.
              </p>
            </div>
            <div class="col-md-5">
              <img src="{% static 'trading/img/contact.png' %}" class="w-100" alt="" />
            </div>
          </div>
      </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center mt-5 border p-3 mx-5">
                    You can also leave your message here and we’ll respond to you within 24
                    hours.
                </p>
            </div>
        </div>
    </div>
    <div class="cotnainer">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form class="form border p-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter name"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
              <small id="emailHelp" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
              >
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Phone</label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter phone number"
              />
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Message</label>
              <textarea
                type="text"
                class="form-control form-control-lg"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter your message here"
              ></textarea>
            </div>

            <a
              class="btn btn-warning my-2 my-sm-0 px-4 py-2"
              id="orange-btn"
              type="submit"
              >Submit</a
            >
          </form>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="icons">
        <div class="container">
          <div class="row mt-5">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row mt-5">
                    <div class="col-md-2 justify-content-center">
                        <img class="w-100 icon" src="{% static 'trading/img/phone-icon.png' %}" alt="" />
                      </div>
                      <div class="col-md-8 justify-content-center">
                        <p>
                          To Contact our call center, dial 01-8889309 or 0-15158888 or
                          01-4405145 or 08099990939 (Operating hours are 08:00 to
                          21:00).
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-2 justify-content-center">
                        <img class="w-100 icon" src="{% static 'trading/img/whatsapp.png' %}" alt="" />
                      </div>
                      <div class="col-md-8 justify-content-center">
                        <p>
                          To Contact our call center, dial 01-8889309 or 0-15158888 or
                          01-4405145 or 08099990939 (Operating hours are 08:00 to
                          21:00).
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-2 justify-content-center">
                        <img class="w-100 icon" src="{% static 'trading/img/twitter.png' %}" alt="" />
                      </div>
                      <div class="col-md-8 justify-content-center">
                        <p>
                            Have a quick question for us? Get in touch through our
                            Twitter customer service here:
                            https://twitter.com/Bet9jaHelp
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
    </div>

    <footer class="px-5 mt-5 mb-5 footer-pad">
      <div class="container-fluid m-0 p-0">
        <div class="footer mt-5 p-5">
            <div class="row">
              <div class="col-md-4">
                <h1 class="text-white">Trading</h1>
                <div class="steps mt-3">
                  <p class="text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                    pariatur aspernatur explicabo corporis quae recusandae nostrum,
                    similique in beatae, quos, dolore optio maiores reiciendis unde.
                    Dolor natus aperiam sit dolore.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <h5 class="text-white mt-4">Contact Us</h5>
                <div class="steps mt-3">
                  <p class="text-light">Cell Number: +12334546547657</p>
                  <p class="text-light">WhatsApp Number: +12334546547657</p>
                  <p class="text-light">Mon to Fri - 9am to 6am WAT</p>
                  <p class="text-light">Address: New York, NY</p>
                </div>
              </div>
              <div class="col-md-4">
                <h5 class="text-white mt-4">Apply Online</h5>
                <a
                  class="btn btn-warning mt-3 px-4 py-2"
                  id="orange-btn-big"
                  type="submit"
                  >Get Funded</a
                >
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6 steps mt-3">
                  <p class="text-light text-center">All right reserved @ 2021 Trading</p>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
      </div>
    </footer>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form class="form pb-4 px-2">

                    <div class="form-group mt-3">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
                    </div>

                    <div class="form-group mt-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter your password">
                    </div>

                    <a class="btn btn-warning btn-block mt-4 mb-1 px-4 py-2" id="orange-btn" href="/home.html" type="submit">Login</a>
                  </form>
                  <hr>
                  <p class="text-center">Create a new account!</p>
                  <a class="btn btn-warning btn-block mt-2 mb-1 px-4 py-2" id="green-btn" href="{% url 'register' %}" type="submit">Register</a>
            </div>
        </div>
        </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>

        {% endblock %}
